*body
{
margin: 0;
padding: 0;
}

.doll-list
{
    margin: 0;
    padding: 1;
    height: 100%;
    flex-wrap: wrap;
    background-image: url(img/bg_a.jpg);
    background-repeat: no-repeat;
}

.doll-list ol li{
    background-image: url(img/mausicon.png);
}